Msg ZWEAM701E SignatureException: Unable to compute RS256 signature. Cause: Unrecognized RSA or RSASSA-PSS key algorithm name.

**Describe the bug**
A clear and concise description of what the bug is.

+ curl -v -X POST --tlsv1.3 --tls-max 1.3 --data { "username": "COLIN", "password": "panthe0n"  }  --trace trace.txt1 --cert ../ssl/
colinpaice.pem --key ../ssl/colinpaice.key.pem --insecure --cacert /u/colin/ssl/zosmfca.pem **https://127.0.0.1:7554/gateway/api/v1/auth/login**                                                                                                                            

gives me

{"messages":[{"messageType":"ERROR","messageNumber":"ZWEAM701E","messageContent":"The request to the URL '/zaas/api/v1/auth/login' h
as failed: SignatureException: Unable to compute RS256 signature. Cause: Unrecognized RSA or RSASSA-PSS key algorithm name. caused b
y: InvalidKeyException: Unrecognized RSA or RSASSA-PSS key algorithm name.","messageAction":"Refer to specific exception details for
 troubleshooting. Create an issue with this message.","messageReason":"The request failed because of an internal error.","messageKey
":"org.zowe.apiml.common.internalRequestError"}]}+ url=https://127.0.0.1:7554/unixfile/contents/*                                   


When my Zowe server certificate is Elliptic Curve.  It works fine for an RSA.  Elliptic is preferred over RSA as it is stronger


My zowe.yaml has

  gateway: 
    enabled: true  # was true 
    port: 7554 
    debug: true 
#   loglevels: 
#       _zsf.*: 5 
    apiml: 
      security: 
        useInternalMapper: true 
        allowtokenrefresh: true 
        auth: 
#         provider: zosmf 
          **provider: saf** 
          zosmf: 
            jwtAutoconfiguration: jwt 
            serviceId: ibmzosmf 
        authorization: 
          endpoint: 
            enabled: false 
          provider: "native" 
        x509: 
          enabled: false 

**Steps to Reproduce**

1.
2.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Logs**
If applicable, add server logs collected at the time of your problem.

**Details**
 - Version and build number: [e.g. 0.4.4-SNAPSHOT build # 155]
 - Test environment: [either defined Zowe test environment: Marist (1, 2, 3), River, or your own environment: z/OS version and z/OSMF version]

**API Catalog Web UI (in case of API Catalog issue):**
 - OS: [e.g. macOS, Windows]
 - Browser [e.g. Chrome, Safari]
 - Version [e.g. 71.0.3578.98]

**REST API client (in case of REST API issue):**
 - Technology: [e.g. Spring Boot, Node.js]
 - OS: [e.g. Windows 10]

**Additional context**
Add any other context about the problem here.

**Willingness to help**
If you are willing to help with debugging and reproducing the problem or
with fixing the problem, please state your willingness to assist in the created issue. 

https://github.com/zowe/api-layer/wiki/Issue-management


When the APIML generates the JWT (SAF provider, PAT, or JWT generated based on LPTA2 from z/OSMF in case z/OSMF does not support JWT) it would sign the JWT with RS256 (RSASSA-PKCS1-v1_5 using SHA-256). It requires a specific certificate usage.

The message `InvalidKeyException: Unrecognized RSA or RSASSA-PSS key algorithm name.` means there is no supported algorithm supported by the JWT library in the certificate (RSA, PSS_JCA_NAME, PSS_OID, RS256_OID, RS384_OID, RS512_OID).

Requirements for the APIML is: RSASSA-PKCS1-v1_5 using SHA-256 signature algorithm as defined by RFC 7518, Section 3.3 . This algorithm requires a 2048-bit key.

We should provide the documentation **requirement for Sha256WithRSAEncryption (1.2.840.113549.1.1.11)** in our documentation (when the APIML could generate any JWT, it means in case of enabled PAT, SAF provider, or z/OSMF without support of JWT).

The behaviour is correct, if the requirements for APIML are not fulfilled, the response code should be an internal server error 500 with the description of the internal error. The fix means to generate a new correct certificate.




The documentation needs to be very clear that an RSA 2048 keysize is required (and no other type).  I used an existing certificate which was an EC curve.

It would be good if this was validated at startup.

The documentation was updated. I guess the only missing part of this issue is certificate validation on startup. It is an ongoing effort (see https://github.com/zowe/zowe-install-packaging/issues/3902).

Could we close this issue?

In the short term, with the doc updates, and the validation, I think this can be closed.  However in the long term we need a better solution, as RSA certificates are going out of fashion, and will be broken when we have big quantum computers. 

Zowe needs to be able to support modern, eg Lattice certificates in the medium term( 2 years).  Does the use of modern certificates need an EPIC or such to cover this topic?

I don't think we need an epic, I created https://github.com/zowe/community/issues/2360 for the Community to agree and solve this as it needs to be solved for all components of Zowe. 